body {
    background: #002b36;
    color: #eee8d5;
}

input#city-name {
    padding: 0.5em;
    width: 100%;
}

input#submit-button {
    margin: 0.5em 0;
}

div#weather,
div#snapshots,
div#forecast {
    background: #eee8d5;
    color: #002b36;
    padding: 1.5em;
}

div.img-container {
    width: 100%;
    height: fit-content;
}

div.img-container img {
    width: 100%;
}

.icdId {
    font-weight: bold;
}

div#snapshots .container {
    padding-top: 1.5em;
}

a {
    text-decoration: underline;
    color: #eee8d5;
}

.ui-menu-item {
    background-color: #586e75;
    border-bottom: 1px solid #657b83;
    color: #fdf6e3;
    max-width: 60%;
    padding: 0.5em;
    list-style: none;
    cursor: default;
}

.ui-menu-item:hover {
    background-color: #268bd2;
}

.ui-helper-hidden-accessible {
    display: none;
}

div#weather-icon {
    color: #002b36;
    background-color: #eee8d5;
}

div#weather-icon i {
    font-size: 6em;
    font-weight: lighter;
    padding-top: 0.25em;
}

#searching-indicator {
    font-size: 2em;
}

img#city-map {
    max-width: 16em;
    padding-top: 1em;
}

table,
h3 {
    color: #002b36;
}

#forecast table {
    width: 100%
}

#weather-container {
    background-color: #eee8d5;
}

header {
    margin: 0 auto;
    text-align: center;
}

#weather th {
    padding-right: 1em;
}