body {
    background: #002b36;
    color: #eee8d5;
}

input#city-name {
    padding: 0.5em;
    width: 100%;
}

input#submit-button {
    margin: 0.5em 0;
}

div#weather,
div#snapshots {
    background: #eee8d5;
    color: #002b36;
}

div.img-container {
    width: 100%;
    height: fit-content;
}

div.img-container img {
    width: 100%;
}

.icdId {
    font-weight: bold;
}

div#snapshots .container {
    padding-top: 1.5em;
}

a {
    text-decoration: underline;
    color: #eee8d5;
}

.ui-menu-item {
    background-color: #586e75;
    border-bottom: 1px solid #657b83;
    color: #fdf6e3;
    max-width: 60%;
    padding: 0.5em;
    list-style: none;
    cursor: default;
}

.ui-menu-item:hover {
    background-color: #268bd2;
}

.ui-helper-hidden-accessible {
    display: none;
}